#root {
  margin: 0 auto;
  max-width: 800px;
}

main {
  height: 75vw;
  max-height: 600px;
  font-size: 10px;
}

#chart svg {
  overflow: visible !important;
}

menu {
  padding: 0 0 24px;
  margin-top: 0;
}

.row>div {
  padding-top: 18px;
}

label {
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
}

.dropdown-toggle {
  text-align: left !important;
  padding-left: 1.5rem !important;
}

.dropdown-toggle, .dropdown-menu {
  width: 100%;
  text-transform: capitalize;
}

.dropdown-toggle::after {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 800px) {
  menu, main {
    margin: 0 20px;
  }
}

text {
  transition: 300ms;
}

text:focus {
  outline: none;
}

text.text--hover {
  opacity: .75;
}

.tippy-content {
  font-family: 'Assistant', sans-serif;
}

.quote {
  font-size: 1.25rem;
}

.attribution {
  text-align: right;
}